* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;

  &:hover {
    color: inherit;
  }
}

body {
  // 100; 300; 400; 500; 600; 700
  font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0;
}
